<div class="aux-container">

<h1><%= link_to "New Applicant", root_path, class: "action-button" %></h1>

<%= render "form", applicant: @applicant %>

<br>

<div>
  <%= link_to "Back to Main Page", root_path, class: "action-button" %>
</div>
</div>